/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #F5F5F5;
  --second-color: #181818;
  --light-white: #8B8B8B;
  
  
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Montserrat', sans-serif;
  --biggest-font-size: 50px;
  --middle-font-size: 40px;
  --h1-font-size: 70px;
  --h2-font-size: 165px;
  --normal-font-size: 32px;
  --small-font-size: 24px;
  --smaller-font-size: 19px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  transition: .3s; /* For animation dark mode */
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}


.container {
  max-width: 1620px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  overflow: hidden; 
}
.header {
  background-color: var(--second-color);
  position: absolute;
  z-index: 1; 
  max-width: 100%;
  width: 1205px;
  padding: 53px 0 0 100px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 30px 0 0;
  gap: 10px;
}
 
.header__location {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--light-white);
  gap: 9px;
}

.hero {
  display: flex;
  background-color: var(--second-color);
  justify-content: space-between;
  /* height: 100vh; */
}
.hero__left, .hero__middle {
  margin: 290px 0 0;
}
.hero__left img{
  object-fit: cover;
  min-width: 233px;
  height: 622px;
}
.hero__middle {
  margin: 290px 82px 160px 66px;
}
.hero__middle-headline {
  font-size: var(--normal-font-size);
  color: var(--light-white);
  font-weight: var(--font-regular);
  line-height: 122%;
}
.hero__middle-title {
  color: var(--first-color);
  font-weight: var(--font-bold);
  margin: 68px 0 81px;
}

.hero__middle-subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  line-height: 122%;
  color: var(--light-white);
}
.hero__middle-subtitle {
  max-width: 344px;
  margin-left: auto;
  text-align: end;
}
.hero__right {
  /* height: 100vh; */
  max-width: 100%;
}
.hero__right img{
  height: 100%;
  object-fit: cover;
}


/* ABOUT */
.about {
  display: flex;
  justify-content: space-between;
  margin: 119px auto 0;
  gap: 94px;
}
.about__left {
  max-width: 721px;
  /* flex: 0 1 100%; */
}
.about__left-title {
  font-weight: var(--font-bold);
  font-size: var(--middle-font-size);
  color: var(--second-color);
  line-height: 105%;
  margin: 0 0 53px;
}

.about__left-subtitle {
  font-weight: var(--font-regular);
  font-size: var(--smaller-font-size);
  line-height: 150%;
  color: var(--light-white)
}
.about_right {
  max-width: 777px;
}
.about__right-up {
  background-color: var(--second-color);
  padding: 50px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 50px;
}
.about__right-img img {
  width: 100%;  
}
.about__right-logo span {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  line-height: 105%;
  font-weight: var(--font-bold);
  margin-left: 25px;
}
.about__right-logo {
  display: flex;
  align-items: baseline;
}
.about__right-items {
  display: flex;
  margin: 59px 0 0;
  gap: 69px;
}
.about__right-item p {
  font-weight: var(--font-bold);
  line-height: 105%;
  font-size: var(--normal-font-size);
  color: var(--first-color);
}
.about__right-item span {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
  line-height: 122%;
  color: var(--first-color);
}

/* SERVICE */
.service {
  margin: 58px 0 0;
}
.section__title {
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  color: rgba(139, 139, 139, 0.2);
  line-height: 105%;
  text-transform: uppercase;
}
.swiper {
  width: 1752px;
  max-width: 100%;
  margin-left: 135px;
  margin-top: -50px;
  position: relative;
}

.swiper-slide {
  padding: 161px 56px 133px;
}
.swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}
.swiper-slide-next .swiper-slide-line {
  background-color: var(--first-color);
}

.swiper-slide-next {
  background-image: url('../img/s2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide.hover {
  background-image: url('../img/s2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}
.swiper-slide.hover p {
  color: var(--first-color);
}
.swiper-slide.hover span {
  color: var(--first-color);
}
.swiper-slide.hover .swiper-slide-line {
  background-color: var(--first-color);
}
.swiper-slide p {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  line-height: 105%;
  color: var(--second-color);
}
.swiper-slide span {
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  line-height: 122%;
  color: var(--second-color);
}

.swiper-slide-line {
  max-width: 100%;
  width: 226px;
  height: 6px;
  background-color: var(--second-color);
  margin: 27px 0 17px;
}
.swiper-slide-next p {
  color: var(--first-color);
}
.swiper-slide-next span {
  color: var(--first-color);
}
.swiper-button-next {
  display: block;
  width: 85px;
  height: 85px;
  background-color: var(--second-color);
  border-radius: 100%;
  display: flex;
  /* position: relative; */
  right: 150px;
}
.swiper-button-next::after {
  content: url('../img/s-arrow.svg');
  position: relative;
  bottom: 5px;
}
.swiper-slide-next.hover {
  background-image: none ;
}
.swiper-slide-next.hover p {
  color: var(--second-color);
}
.swiper-slide-next.hover span {
  color: var(--second-color);
}
.swiper-slide-next.hover .swiper-slide-line {
  background: var(--second-color);
}
.swiper-slide-next:hover {
  background-image: ;
}
/* BID */

.bid {
  position: relative;
  background-color: var(--second-color);
  padding: 180px 0 170px;
  margin: 102px 0 0;
}
.bid__title {
  position: absolute;
  right: -50px;
  top: 53px;
}
.bid__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.bid__form-title, .bid__content-headline {
  font-weight: var(--font-bold);
  font-size: var(--normal-font-size);
  line-height: 105%;
  color: var(--first-color);
}
.bid__form {
  width: 634px;
}
.bid__content {
  width: 760px;
}
.bid__form-input {
  width: 100%;
  background: none;
  border-bottom: 1px solid var(--first-color);
  padding:11px 0 11px;
  color: var(--first-color);
  font-size: var(--small-font-size);
}
.bid__form-inner {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 88px 0 105px;
}
.bid__form-input::placeholder {
  font-weight: var(--font-regular);
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  line-height: 122%;
}

.bid__form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: var(--font-regular);
  line-height: 122%;
  font-size: var(--smaller-font-size);
  color: var(--first-color);
}

.bid__form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid var(--first-color);
}
.bid__form-checkbox:checked {
  background-color: var(--first-color);
}
.bid__form-checkbox:focus {
  border: 2px solid #8B8B8B;
}

.bid__form-btn {
  background: none;
  border: 1px solid var(--first-color);
  color: var(--first-color);
  padding: 10px 20px;
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  line-height: 122%;
  transition: all .3s ease;
  cursor: pointer;
  width: 174px;
  display: block;
  margin-left: auto;
}
.bid__form-btn:hover, .bid__form-btn:focus  {
  background: var(--first-color);
  color: var(--second-color);
  transition: all .3s ease;
}


.bid__content-text {
  margin: 45px 0 45px;
  color: var(--light-white);
  font-size: var(--smaller-font-size);
  max-width: 600px;
  /* max-width: 100%; */
  line-height: 150%;
}

.bid__content-text span {
  color: var(--first-color);
  margin: 19px 0;
  display: block;
}
.bid__content-tel {
  color: var(--first-color);
  font-weight: var(--font-bold);
  text-decoration-line: underline;
  display: flex;
  justify-content: flex-end;
}


/* STAGE */
.stage {
  position: relative;
  margin: -180px 0 0;
}
.stage__steps {
  gap: 20px;
}
.stage__wrapper {
  align-items: flex-start;
}
.stage__title {
  position: relative;
  top: 280px;
}
.stage__step {
  display: flex;
  align-items: baseline;
  gap: 47px;
}
.stage__step p {
  font-weight: var(--font-bold);
  font-size: var(--small-font-size);
  color: var(--second-color);
  /* line-height: 150%; */
  max-width: 954px;
}
.stage__step span {
  font-weight: var(--font-regular);
  color: var(--light-white);
  font-size: var(--smaller-font-size);
  line-height: 122%;
}
.stage__step-number.stage__step-number {
    width: 85px;
    height: 85px;
    display: inline-block;
    color: var(--first-color);
    background: var(--second-color);
    border-radius: 100%;
    padding: 23px 23px;
    font-size: var(--normal-font-size);
    font-weight: 500;
    position: relative;
}

.stage__wrapper {
  display: grid;
  gap: 50px;
  grid-template-areas:
  "empty img img"
  "one img img"
  "two img img"
  "three three three"
  "four four four"
  "five five five"
  "six six explain";
  position: relative;
  /* bottom: 250px; */
}
.empty {
  grid-area: empty;
  height: 250px;
}
.step-one {
  grid-area: one;
  height: 0;
}
.step-two {
  grid-area: two;
  height: 10px;
}
.step-three {
  grid-area: three;
}
.step-four {
  grid-area: four;
}
.step-five {
  grid-area: five;
}
.step-six {
  grid-area: six;
}
.step-img {
  grid-area: img;
  position: relative;
  top: 100px;
  left: 100px;
}
.explain {
  grid-area: explain;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
  line-height: 150%;
  color: var(--light-white);
  text-align: end;
  max-width: 497px;
  margin-top: auto;
}




/* COMMENT */

.comment__swiper {
  width: 100%;
  overflow: hidden;
}
.comment__swiper-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 116px 0 0;
}
.comment__swiper-slide {
  flex-shrink: 0;
  background: var(--second-color);
  padding: 71px 64px 75px;
  user-select: none;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.comment__slide-quotes {
  width: 73px;
  height: 73px;
  margin: 0 0 51px;
}
.comment__slide-title {
  font-weight: var(--font-bold);
  font-size: var(--small-font-size);
  line-height: 105%;
  color: var(--first-color);
}
.comment__slide.swiper-slide-active {
  background: var(--second-color);
}
.comment__slide-subtitle.comment__slide-subtitle {
  font-weight: var(--font-regular);
  font-size: var(--smaller-font-size);
  line-height: 122%;
  color: var(--light-white);
  margin: 32px 0 44px;
}
.comment__slide-avtor {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: auto;
}
.comment__slide-photo {
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.comment__slide-name {
  font-weight: var(--font-bold);
  font-size: var(--small-font-size);
  line-height: 105%;
  color: var(--first-color);
}
.comment__slide-city.comment__slide-city {
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  line-height: 122%;
  color: var(--light-white);
}

.comment__title {
  text-align: end;
  position: relative;
  top: 80px;
  z-index: -1;
}

.comment__swiper-button-next, .comment__swiper-button-prev {
  cursor: pointer;
}
.comment__swiper-btns {
  display: flex;
  gap: 54px;
}



/* FOOTER */

.footer {
  background-color: var(--second-color);
  margin: 104px 0 0;
}

.footer__wrapper {
  padding: 78px 15px 91px;
}
.footer__up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__ul {
  display: flex;
  gap: 70px;
}
.footer__link {
  font-weight: var(--font-bold);
  color: var(--first-color);
  font-size: var(--smaller-font-size);
}
.footer__social {
  display: flex;
  gap: 20px;
}


.footer__down {
  margin: 67px 0 0;
  color: var(--light-white);
  font-size: var(--smaller-font-size);
  line-height: 122%;
  font-weight:var(--font-regular);
}


/* SERVICE */
.main__header {
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 105px;
}
.main__header-wrapper {
  /* background: rgba(0, 0, 0, 0.7); */
  width: 1720px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 15px;
}
.main__header-logo {
  flex: 1 1 50%;
}
.header__nav {
  width: 100%;
}
.header__ul {
  display: flex;
  justify-content: space-between;
}

.header__link {
  color: var(--first-color);
  font-weight: var(--font-regular);
  line-height: 122%;
  font-size: var(--small-font-size);
}

.main__hero img{
  height: 800px;
  width: 100%;
  object-fit: cover;
}
.burger {
  display: none;
  width: 55px;
  height: 45px;
  background: none;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 15px;
  top: 45px;
  cursor: pointer;
}
.burger span {
  width: 55px;
  height: 5px;
  background-color: var(--first-color);
  transition: transform .3s ease;
  
}
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(24px);
  transition: transform .3s ease;
  
}
.burger.active span:nth-child(2) {
  transform: translate(100px);
  transition: transform .3s ease;
  
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-18px);
  transition: transform .3s ease;
    
}

.service__about {
  display: flex;
  align-items: center;
  gap: 53px;
}
.service__about-up {
  background-color: var(--second-color);
  padding: 36px 11px 49px 228px;
  /* width: 960px; */
  max-width: 100%;
}
.service__about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 63px;
  margin-top: -111px;
  width: 960px;
  max-width: 100%;
}
.service__about-up_title {
  font-weight: var(--font-bold);
  font-size: var(--middle-font-size);
  line-height: 105%;
  color: var(--first-color);
  margin-bottom: 23px;
}

.service__down-text {
  font-size: var(--smaller-font-size);
  padding: 16px 74px 0 50px;
  width: 859px;
  max-width: 100%;
}
.service__about-up_subtitle {
  font-weight: var(--font-regular);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  line-height: 150%;
  width: 672px;
  max-width: 100%;
}
.service__about-up_subtitle span {
  font-weight: var(--font-bold);
}

.service__down-items {
  display: flex;
  flex-direction: column;
  width: 859px;
  max-width: 100%;
}
.service__down-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  color: var(--second-color);
  line-height: 122%;
  padding: 10px 74px 10px 50px;
}

.service__down-item p {
  font-size: var(--smaller-font-size);
}
.service__down-item:nth-child(1) {
  background: rgba(0, 0, 0, 0.7);
  color: var(--first-color);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
.service__down-item:nth-child(1) p {
  font-size: var(--small-font-size);
}
.service__down-item:nth-child(2) {
  background: #D9D9D9;
}
.service__down-item:nth-child(3) {
  background: #F5F5F5;
}
.service__down-item:nth-child(4) {
  background: #D9D9D9;
}
.service__about-text {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
  line-height: 122%;
  max-width: 790px;
  margin-top: -90px;
}
.service__about-text span {
  position: relative;
  margin-left: 15px;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.service__about-text  span:nth-child(2) {
  margin-top: 25px;
}
.service__about-text  span:nth-child(6) {
  margin-bottom: 25px;
}
.service__about-text span::before {
  content: '';
  min-width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #181818;
  display: block;
  margin-right: 15px;
}
.service__about-down {
  margin-left: 100px;
}
.main__footer {
  background-color: var(--first-color);
  margin: 0 0 0;
}
.main__footer .footer__link {
  color: var(--second-color);
  font-size: var(--small-font-size);
}
.main__about-text {
  max-width: 1529px;
  margin:  47px auto 0;
  font-size: var(--smaller-font-size);
  line-height: 150%;
  padding: 0 15px;
  
}
.main__about-text span {
  font-weight: var(--font-bold);
}
.main__about-title {
  text-align: end;
}
.main__about {
  margin-top: -100px;
}
@media  (max-width: 1753px) {
  .main__about {
    margin-top: 20px;
  } 
}
@media  (max-width: 1653px) {
  .service__about {
    flex-wrap: wrap;
  }
  .service__about-text {
    margin-top: 0;
  }
  .service__about-up {
    width: 100vw;
    max-width: 100vw;
    padding: 36px 30px;
  }
  .service__about-wrapper {
    max-width: 100%;
  }
  .service__about-down {
    margin: 0 15px;
    max-width: 100%;
  }
  .service__about-text {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media  (max-width: 1500px) {
  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
  .swiper {
    margin-left: 0;
  }
  .swiper-button-next {
    top: auto;
    right: 15px;
    margin-top: 5px;
  }
  .swiper {
    overflow: visible;
  }
  .bid__wrapper {
    justify-content: center;
    gap: 30px;
  }
  .stage {
    margin: 0 0 0;
  }
  .stage__title {
    top: 0;
  }
  .stage__wrapper {
    grid-template-areas: 
      "one   one one" 
      "two   two two" 
      "three three three  " 
      "four  four  four   " 
      "five  five  five" 
      "six   six   six"
      "img img explain";
      margin: 50px 0 0;
  }
  .stage__step-number.stage__step-number {
    bottom: 0;
    font-size: 16px;
  }
  .empty {
    display: none;
  }
  .step-two {
    height: auto;
  }
  .step-one {
    height: auto;
  }
  .step-img {
    top: 0;
    left: 0;
  }
  .stage__step-number.stage__step-number {
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stage__step {
    gap: 10px;
  }
  :root {
  --h2-font-size: 135px;
  }
  .comment__swiper-slide {
    padding: 40px 30px ;
  }
  .footer__up {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer__ul {
    flex-wrap: wrap;
  }
  .hero__left img {
    min-width: 100px;
  }
}
@media  (max-width: 1200px) {
  .burger {
    display: flex;
  }
  .header__nav {
    width: 80%;
    height: 100%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    padding: 200px 0 0;
    transform: translate(100%);
    transition: transform .3s ease;
  }
  .header__nav.active {
    transform: translate(0%);
    transition: transform .3s ease;
  }
  .header__ul {
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    text-align: center;
  }
  .hero__left img {
    min-width: 50px;
    height: 400px;
  }
}

@media  (max-width: 769px) {
  .header {
    padding: 50px  15px;
  }
  .hero__middle {
    margin: 183px 22px 0 15px;
  }
  .hero__middle-btn img {
    width: 55px;
    height: 55px;
  }
  .hero__right img {
    max-width: 720px;
  }
  .header__logo {
    width: 200px;
    height: 50px;
  }
  .about__right-up {
    padding: 20px;
  }
  .about__right-items {
    flex-wrap: wrap;
    gap: 10px;
  }
  .about {
    gap: 30px;
  }
  .about__left {
    max-width: 100%;
  }
  .about__left-title {
    word-break: break-all;
  }
  .about__right-logo  span{
    font-size: 40px;
  }
  .about__right-logo img{
    width: 200px;
    height: 50px;
  }
  .swiper-slide {
    padding: 101px 20px 100px 20px;
    word-break: break-all;
  }
  .bid {
    padding: 120px 0 100px;
  }
  .bid__form-label {
    font-size: 16px;
  }
  .comment__swiper-wrapper {
    margin: 80px 0 20px;
  }
  .comment__swiper {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__logo {
    width: 200px;
    height: 50px;
  }
  :root {

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #F5F5F5;
    --second-color: #181818;
    --light-white: #8B8B8B;
    
    
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Montserrat', sans-serif;
    --biggest-font-size: 40px;
    --h1-font-size: 40px;
    --h2-font-size: 115px;
    --normal-font-size: 16px;
    --small-font-size: 18px;
    --smaller-font-size: 14px;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
  }
  .service__down-item {
    padding: 10px;
    gap: 5px;
  }
  .service__about-up {
    padding: 50px 15px;
  }
  .service__down-text {
    padding: 10px 15px;
  }
  .swiper {
    margin: auto;
  }
}
@media  (max-width: 576px) {
  .about {
    margin: 40px auto 0;
  }
  .stage {
    margin: 40px auto 0;
  }
  .swiper {
    margin-top: -20px;
  }
  :root {
    
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #F5F5F5;
    --second-color: #181818;
    --light-white: #8B8B8B;
    
    
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Montserrat', sans-serif;
    --biggest-font-size: 30px;
    --h1-font-size: 30px;
    --h2-font-size: 45px;
    --normal-font-size: 18px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
    
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
  }
  .hero__left img {
    display: none;
  }
  .comment__slide-quotes {
    width: 43px;
    height: 43px;
  }
  .comment__slide-photo {
    width: 55px;
    height: 55px;
  }
  .bid__title {
    right: 0;
  }
  .comment__slide {
    margin: 20px 0 0;
  }
  .swiper {
    max-width: 290px;
  }
  .swiper-slide {
    max-width: 100%;
    padding: 101px 56px 100px ;
  }
  .swiper-slide-active {
    background-image: url('../img/s2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-slide-active p, .swiper-slide-active span  {
    color: var(--first-color);
  }
  .swiper-slide-active .swiper-slide-line {
    background: var(--first-color);
  }
  .swiper-slide-next {
    background: var(--first-color);
  }
  .swiper-slide-next p, .swiper-slide-next span {
    color: var(--second-color);
  }
  .swiper-slide-next .swiper-slide-line {
    background: var(--second-color);
  }
  .main__header-logo  img{
    width: 200px;
  }
}
@media  (max-width: 390px) {
  .about__right-items {
    margin: 20px 0 0;
  }
  .about__right-logo img {
    width: 100px;
  }
  .about__right-logo span {
    font-size: 32px;
  }
  .service__down-item p,  .service__down-item span{
   font-size: 11px; 
  }
}